# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
.venv/
env/
venv/

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Tool Caches
.frankenreview/
